<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
</head>
<body>
  <div id="app">
    <v-app>
      <v-navigation-drawer app color="secondary">
        <!-- -->
      </v-navigation-drawer>

      <v-app-bar app color="primary">
        <!-- -->
        <v-btn color="accent" @click="triggerSave()">
            <v-icon>mdi-disk</v-icon>
            save
        </v-btn>
      </v-app-bar>

      <!-- Sizes your content based upon application components -->
      <v-main>

        <!-- Provides the application the proper gutter -->
        <v-container fluid>
        <v-row>
          <!-- market -->
          <v-col cols="12" md="6">
            <v-card>
              <v-card-title>Market</v-card-title>
              <v-card-text>
                <v-text-field
                  dense
                  filled
                  rounded
                  solo
                  v-model="market_search"
                ></v-text-field>
                <v-list>
                    <v-list-item v-for="item in searchResult" :v-key="item.id">
                        <v-list-item-content>
                          <v-list-item-title>{{ item.name }}</v-list-item-title>

                          <v-list-item-subtitle>{{ item.type }} lvl {{ item.level }}</v-list-item-subtitle>
                        </v-list-item-content>
                        
                        <v-list-item-action>
                            <v-btn-toggle
                                color="primary"
                                dense
                                group
                                multiple
                            >
                              <v-btn @click=addCraft(item)>
                                <v-icon>mdi-wrench</v-icon>
                                craft
                              </v-btn>
                              <v-btn @click=buyItem(item)>
                                <v-icon>mdi-cart</v-icon>
                                buy
                              </v-btn>
                              <v-btn @click=setPrice(item)>
                                <v-icon>mdi-tag</v-icon>
                                {{ getPrice(item) }}
                              </v-btn>
                            </v-btn-toggle>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
              </v-card-text>
            </v-card>
            <v-card>
              <v-card-title>Operations</v-card-title>
              <v-card-text>
                <p>Balance : {{ sum_actual }}</p>
                <p>Projection : {{ sum_projected }}</p>
                <v-list>
                    <v-list-item v-for="op in operations">
                        <v-list-item-content>
                          <v-list-item-title>{{ op.item_name }}</v-list-item-title>

                          <v-list-item-subtitle>{{ Math.abs(op.quantity) }} à {{ op.item_price }}k/u</v-list-item-subtitle>
                          <v-list-item-subtitle>{{ op.item_note }}</v-list-item-subtitle>
                        </v-list-item-content>
                        <v-list-item-action>
                          <v-chip v-if="op.buy_or_sell == 'buy'" color="error">{{-op.item_price*op.quantity}}</v-chip>
                          <v-chip v-if="op.buy_or_sell == 'sell' && op.sell_confirmed" color="success">{{-op.item_price*op.quantity}}</v-chip>
                          <v-chip v-if="op.buy_or_sell == 'sell' && !op.sell_confirmed" color="light-grey" @click="confirmSell(op)">{{-op.item_price*op.quantity}}</v-chip>
                        </v-list-item-action>
                    </v-list-item>
                </v-list>
              </v-card-text>
            </v-card>
          </v-col>
          <!-- crafts -->
          <v-col cols="12" md="6">
            <v-card>
                <v-card-title>Crafts</v-card-title>
                <v-card-text>
                <v-card>
                    <v-card-title>Resource summup</v-card-title>
                    <v-card-text>
                        Total to buy: {{ sum_resources_to_buy }}k
                        <ul>
                            <li v-for="resource in crafts.total"  :v-key="resource.item.id" @click="market_search = resource.item.name">
                                {{resource.owned}}/{{resource.needed}} {{resource.item.name}} - {{resource.item_price}}k/u --> buy cost : {{resource.buy_cost}}k
                            </li>
                        </ul>
                    <v-card-text>
                </v-card>
                <v-card v-for="craft in crafts.crafts" :v-key="craft.item.id">
                    <v-card-title>{{craft.item.name}}
                        <v-divider></v-divider>
                        <v-btn icon color="accent" @click="craftDone(craft)" v-if="craft.crafted < craft.quantity">
                            <v-icon>mdi-wrench</v-icon>
                        </v-btn>
                        <v-btn icon color="accent" @click="removeCraft(craft)">
                            <v-icon>mdi-delete</v-icon>
                        </v-btn>
                    </v-card-title>
                    <v-card-subtitle>{{craft.item.type}} lvl {{craft.item.level}} - {{craft.crafted}}/{{craft.quantity}} units à {{craft.item_price}}k/u - total {{ craft.quantity * craft.item_price }}k - resources value {{craft.resources_value}}k - buy resources {{craft.buy_price}}k</v-card-subtitle>
                    <v-card-text>
                        <ul>
                            <li v-for="ingredient in craft.ingredients" :v-key="ingredient.item_id" @click="market_search = ingredient.item_name">
                                {{ingredient.owned}}/{{ingredient.needed}} {{ingredient.item_name}} - {{ingredient.item_price}}k/u --> {{ingredient.set_price}}k
                            </li>
                        </ul>
                    <v-card-text>
                </v-card>
                </v-card-text>
            </v-card>
            <!-- inventory -->
            <v-card>
                <v-card-title>Inventory</v-card-title>
                <v-card-subtitle>computed value of resources {{inventory_value}}k sorted by {{inventory_sort}}</v-card-subtitle>
                <v-card-text>
                    <v-btn-toggle v-model="inventory_sort_toggle">
                        <v-btn @click="inventory_sort='item_price'">
                            <v-icon>mdi-tag</v-icon>
                            <v-icon>mdi-sort-ascending</v-icon>
                        </v-btn>

                        <v-btn @click="inventory_sort='-item_price'">
                            <v-icon>mdi-tag</v-icon>
                            <v-icon>mdi-sort-descending</v-icon>
                        </v-btn>

                        <v-btn @click="inventory_sort='item_name'">
                            <v-icon>mdi-sort-alphabetical-ascending</v-icon>
                        </v-btn>

                        <v-btn @click="inventory_sort='-item_name'">
                            <v-icon>mdi-sort-alphabetical-descending</v-icon>
                        </v-btn>

                        <v-btn @click="inventory_sort='quantity'">
                            <v-icon>mdi-plus-box-multiple</v-icon>
                            <v-icon>mdi-sort-ascending</v-icon>
                        </v-btn>

                        <v-btn @click="inventory_sort='-quantity'">
                            <v-icon>mdi-plus-box-multiple</v-icon>
                            <v-icon>mdi-sort-descending</v-icon>
                        </v-btn>
                    </v-btn-toggle>
                    <v-list>
                        <v-list-item v-for="item in sorted_inventory">
                            <v-list-item-content>
                                <v-list-item-title><v-chip>{{ item.quantity }}</v-chip> {{ item.item_name }}</v-list-item-title>
                            </v-list-item-content>
                            
                            <v-list-item-action>
                            <v-row>
                                <v-btn icon elevation="2" color="secondary" @click="editQuantity(item)">
                                    <v-icon>mdi-pen</v-icon>
                                </v-btn>
                                <v-btn icon elevation="2" color="secondary" @click="sellItem(item)">
                                    <v-icon>mdi-currency-usd</v-icon>
                                </v-btn>
                            </v-row>
                            </v-list-item-action>
                        </v-list-item>
                    </v-list>
                </v-card-text>
            </v-card>
          </v-col>
          </v-row>
        </v-container>
      </v-main>
      
      <v-dialog
          v-model="buyWindow"
          width="600"
      >
          <v-card v-if="boughtItem">
            <v-card-title>
              Buying {{ boughtItem.name }}
            </v-card-title>

            <v-card-text>
                <v-row>
                    <v-col cols="12" sm="3">
                        <!--<v-img :src="boughtItem.img"></v-img>-->
                    </v-col>
                    <v-col  cols="12" sm="9">
                        <v-select :items="[1,10,100]" label="Quantity" v-model="boughtQuantity"></v-select>
                        <v-text-field autofocus type="number" label="Price" v-model="boughtPrice"></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-btn
                        color="success"
                        @click="triggerBuy()"
                    >
                        Buy
                    </v-btn>
                </v-row>
            </v-card-text>
            
            <v-card-text>
                <p v-for="char in boughtItem.effects">{{ char }}</p>
            </v-card-text>
            <v-card-text>
                {{ boughtItem.description }}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-btn
                color="success"
                text
                @click="triggerBuy()"
              >
                Buy
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                text
                @click="buyWindow = false"
              >
                Done
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        
        <v-dialog
          v-model="sellWindow"
          width="600"
      >
          <v-card v-if="soldItem">
            <v-card-title>
              Selling {{ soldItem.name }}
            </v-card-title>

            <v-card-text>
                <v-row>
                    <v-col cols="12" sm="3">
                        <!--<v-img :src="boughtItem.img"></v-img>-->
                    </v-col>
                    <v-col  cols="12" sm="9">
                        <v-select :items="[1,10,100]" label="Quantity" v-model="soldQuantity"></v-select>
                        <v-text-field autofocus type="number" label="Price" v-model="soldPrice"></v-text-field>
                        <v-text-field disabled label="Tax" :value="soldTax"></v-text-field>
                        <v-text-field label="notes" v-model="soldNote"></v-text-field>
                    </v-col>
                </v-row>
                <v-row>
                    <v-btn
                        color="success"
                        @click="triggerSell()"
                    >
                        Sell
                    </v-btn>
                </v-row>
            </v-card-text>
            
            <v-card-text>
                <p v-for="char in soldItem.effects">{{ char }}</p>
            </v-card-text>
            <v-card-text>
                {{ soldItem.description }}
            </v-card-text>

            <v-divider></v-divider>

            <v-card-actions>
              <v-btn
                color="success"
                text
                @click="triggerSell()"
              >
                Sell
              </v-btn>
              <v-spacer></v-spacer>
              <v-btn
                color="primary"
                text
                @click="sellWindow = false"
              >
                Done
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>

      <v-footer app>
        <!-- -->
      </v-footer>
    </v-app>
  </div>

  <script src="/static/axios.min.js"></script>
  <script src="/static/vue.js"></script>
  <script src="/static/vuetify.js"></script>
  <script>
    var SOURCE="/"
    new Vue({
      el: '#app',
      vuetify: new Vuetify({
        icons: {
            iconfont: 'mdi',
        }
      }),
      data() {
        return {
            market_search: "",
            searchable: [],
            crafts: {crafts:[], total: []},
            inventory: [],
            buyWindow: false,
            boughtItem: null,
            boughtQuantity: 1,
            boughtPrice: null,
            sellWindow: false,
            soldItem: null,
            soldQuantity: 1,
            soldPrice: null,
            soldNote: null,
            operations: [],
            inventory_sort: null,
            inventory_sort_toggle: null,
        };
      },
      mounted: function() {
        this.getSearchable();
        this.getInventory();
            this.getOperations();
        this.getCrafts();
      },
      methods: {
        buyItem: function(item) {
            this.buyWindow = true;
            this.boughtItem = item;
            axios.get(SOURCE+"api/item_details/"+item.id)
                .then((response) => this.boughtItem = response.data)
                .catch((error) => this.handleError(error));
        },
        sellItem: function(item) {
            this.sellWindow = true;
            this.soldItem = null;
            axios.get(SOURCE+"api/item_details/"+item.item_id)
                .then((response) => this.soldItem = response.data)
                .catch((error) => this.handleError(error));
        },
        setPrice: function(item) {
            var newPrice = prompt("new price per unit for " + item.item_name);
            if (newPrice) {
              axios.post(SOURCE+"api/inventory/editPrice", {
                id: item.id,
                price: newPrice,
              })
              .then((reponse) => {
                this.getInventory();
                this.getCrafts();
              })
              .catch((error) => this.handleError(error))
            }
        },
        getPrice: function(item) {
          priced_item = this.inventory.filter((it) => it.item_id.toString() == item.id.toString())
          if (priced_item.length < 1) {
            return "price";
          } else {
            return priced_item[0].item_price + " k";
          }
        },
        addCraft: function(item) {
          var quant = prompt("how many " + item.name + " do you want to make ?")
          axios.post(SOURCE+"api/crafts", {
            "item_id": item.id,
            "quantity": quant,
          }).then((reponse) => {
            this.getCrafts();
          }).catch((error) => this.handleError(error))
        },
        craftDone: function(craft) {
          axios.post(SOURCE+"api/crafts/" + craft.item.id, {})
          .then((reponse) => {
            this.getCrafts();
            this.getInventory();
          }).catch((error) => this.handleError(error))
        },
        removeCraft: function(craft) {
            axios.delete(SOURCE+"api/crafts/" + craft.item.id)
            .then((reponse) => {
                this.getCrafts();
            }).catch((error) => this.handleError(error))
        },
        getSearchable: function () {
            axios.get(SOURCE+"api/searchable")
                .then((response) => this.searchable = response.data)
                .catch((error) => this.handleError(error));
        },
        getInventory: function () {
            axios.get(SOURCE+"api/inventory")
                .then((response) => this.inventory = this._parse(response.data))
                .catch((error) => this.handleError(error));
        },
        getCrafts: function () {
            axios.get(SOURCE+"api/crafts")
                .then((response) => this.crafts = this._parse(response.data))
                .catch((error) => this.handleError(error));
        },
        getOperations: function () {
            axios.get(SOURCE+"api/operations")
                .then((response) => this.operations = this._parse(response.data).reverse())
                .catch((error) => this.handleError(error));
        },
        _parse: function(to_parse) {
            console.debug(to_parse);
            if(typeof(to_parse) == typeof("")) {
                // some browser ont parse the json systematically
                return JSON.parse(to_parse.replace(/NaN/gm, '""'));
            } else {
                return to_parse
            } 
        },
        triggerBuy: function() {
            axios.post(SOURCE+"api/operations/buy", {
                id: this.boughtItem.id,
                quantity: this.boughtQuantity,
                price: this.boughtPrice,
            })
            .then((response) => {
                this.getInventory();
                this.getCrafts();
                        this.getOperations();
            })
            .catch((error) => this.handleError(error))
        },
        triggerSell: function() {
            axios.post(SOURCE+"api/operations/sell", {
                id: this.soldItem.id,
                quantity: this.soldQuantity,
                price: this.soldPrice,
                note: this.soldNote,
            })
            .then((response) => {
                this.getInventory();
                this.getCrafts();
                        this.getOperations();
            })
            .catch((error) => this.handleError(error))
        },
        confirmSell: function(op) {
            axios.post(SOURCE+"api/operations/" + op.op_id + "/confirm", {})
                .then((response) => op.sell_confirmed=true)
                .catch((error) => this.handleError(error))
        },
        triggerSave: function() {
            axios.post(SOURCE+"api/save", {})
            .then((response) => alert(response.data))
            .catch((error) => this.handleError(error))
        },
        editQuantity: function(item) {
            var newQuantity = prompt("new quantity for " + item.item_name);
            console.log(newQuantity);
            if (newQuantity) {
                axios.post(SOURCE+"api/inventory/editQuantity", {
                    id: item.item_id,
                    quantity: newQuantity,
                })
                .then((reponse) => {
                    this.getInventory();
                    this.getCrafts();
                })
                .catch((error) => this.handleError(error))
            }
        },
        handleError: function (error) {
            console.error(error);
        },
      },
      computed: {
        searchResult() {
            if (this.market_search.length > 2) {
                return this.searchable.filter((item) => item.name.toLowerCase().indexOf(this.market_search.toLowerCase()) != -1)
            } else {
                return []
            }
        },
        soldTax() {
            return Math.ceil(this.soldPrice*0.02);
        },
        sum_projected() {
            var soldK = this.operations.filter((op) => op.buy_or_sell == "sell").reduce((acc, op) => acc + op.quantity*op.item_price, 0)
            var boughtK = this.operations.filter((op) => op.buy_or_sell == "buy").reduce((acc, op) => acc + op.quantity*op.item_price, 0)
            return -soldK - boughtK;
        },
        sum_actual() {
            var reallySoldK = this.operations.filter((op) => op.buy_or_sell == "sell" && op.sell_confirmed).reduce((acc, op) => acc + op.quantity*op.item_price, 0)
            var boughtK = this.operations.filter((op) => op.buy_or_sell == "buy").reduce((acc, op) => acc + op.quantity*op.item_price, 0)
            return -reallySoldK - boughtK;
        },
        sum_resources_to_buy() {
            return this.crafts.total.reduce((acc, resource) => acc + resource.buy_cost, 0)
        },
        inventory_value() {
            return this.inventory.reduce((acc, resource) => acc + resource.item_price * resource.quantity, 0)
        },
        sorted_inventory() {
            var descending = this.inventory_sort && this.inventory_sort[0] == "-";
            var key = this.inventory_sort ? this.inventory_sort.replace('-', '') : null;
            var res = this.inventory;
            console.log("sorting by " + key + " descending: " + descending);
            if (key) {
                res = this.inventory.sort((a, b) => (a[key] > b[key]) ? 1 : -1);
                if (descending) {
                    res.reverse();
                }
            }
            console.log(res)
            return res
        }
      }
    })
  </script>
</body>
</html>
